@import "tailwindcss";

@font-face {
  font-family: "Involve";
  src: url("./fonts/Involve-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/manrope-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
